/*
========================================================================
RESET
========================================================================
*/
/* global rest */
html, body {     height: 100%;
}



/* ÆË¾÷ */
#MAKESHOPLY0,
#MAKESHOPLY1,
#MAKESHOPLY2,
#MAKESHOPLY3,
#MAKESHOPLY4,
#MAKESHOPLY5,
#MAKESHOPLY6,
#MAKESHOPLY7,
#MAKESHOPLY8,
#MAKESHOPLY9,
#MAKESHOPLY10 {z-index:99999999999999999999999999999999999 !important;}


/* ±¸±Û ³ª´®À¥ÆùÆ® */

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
font-family: 'Nanum Gothic', cursive;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
font-family: 'Open Sans', sans-serif;

@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
font-family: 'Nanum Square', sans-serif;

@import url(http://cdn.rawgit.com/young-ha/webfont-archive/20161201/css/Arita-dotum.css);
font-family: 'Arita-dotum', sans-serif;
<!--
a,area { blr:expression(this.onFocus=this.blur()) }
:focus { -moz-outline-style: none; }
-->




html, body, pre,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, ul, li, ol,
th, td, p, blockquote,
form, fieldset, legend,
menu, nav, section, hgroup, article, aside,
input, select, textarea, button {
    margin: 0;
    padding: 0;
}

body,
h1, h2, h3, h4, h5, h6, table,
input, select, textarea, a, p {
    font-size: 11px;
    letter-spacing:0.06em;
    line-height: 1.5;
    color: #000; 
    font-family: 'Open Sans', 'Nanum Gothic', sans-serif;
    /*font-family: 'Open Sans', Dotum, Arial, AppleGothic, Helvetica, sans-serif, 'Nanum Gothic';*/
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
img, fieldset,button {
    border:0 none;
}
img {
    vertical-align: top;
}
li {
    list-style: none;
}
hr, caption, legend {
    display: none;
}
a { 
    color: #000;
    text-decoration: none;
}
a:hover {
}
button {
    overflow: hidden;
    cursor: pointer;
}
button span {
    visibility: hidden;
}
address, em {
    font-style: normal;
}
button, input, select, textarea, a {
    vertical-align: middle;
}
select {
    line-height: 20px;
    height: 20px;
}
input:focus {
    outline: none;
}

input { padding:4px; line-height:14px; /*border:1px solid #d9d9d9;*/ }

table {
    width:100%;
    margin: 0 auto;
    margin-left: 0 !important;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    word-wrap: break-word;
    word-break: keep-all;
}
/*
========================================================================
°øÅë class
========================================================================
*/
/* image replace, hidden text */
.ir *,
.blind { z-index:-1; position: absolute; display: block; left: 0; top: 0; overflow: hidden; visibility: hidden; width: 0; height: 0; text-indent: -9999px; }
/* block, inline */
.d-block { display: block;}
.d-inline { display: inline;}
/* form */
.txt-right { text-align: right; }
.txt-input1 { padding: 2px 0 0 2px; height: 17px; line-height: 17px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2; }
.txt-input2 { padding: 2px 0 0 2px; height: 17px; line-height: 17px; border: 1px solid #dcdcdc; }
.MS_input_txt { margin-right:5px; padding:4px; line-height:14px; border:1px solid #d9d9d9; }
.txt-disabled { background-color: #f6f6f6; }
.chk-rdo { width: 13px; height: 13px; vertical-align: middle; }
.txt-area1 { overflow-y: scroll; padding: 2px 0 0 2px; line-height: 17px; border: 1px solid #e2e9ef; border-top: 1px solid #aaadb2; }
/* file add trick */
.file-wrap { display: inline-block; overflow: hidden; position: relative; height: 23px; width: 280px; vertical-align: middle; background: url(/images/btn/h20_trick_fileadd.gif) no-repeat right 0; }
.file-wrap .file-txt { float: left; border: 0 none; height: 18px; font-size: 12px; line-height: 18px; width: 198px; border: 1px solid #ccc; }
.file-wrap .file-trick { cursor: pointer; position: absolute; right: 0px; top: 0; right: 0; width: 100px; height: 20px; background: none; border: 0 none; opacity: 0; filter: alpha(opacity=0); }
/* font-color */
.fc-red { color: #00a2ff; }
.fc-blue { color: #00a2ff; }
.MS_option_price { color: #FF3C00; }
/* bold */
.bold { font-weight: bold; }
/* float clear */
.clear {zoom: 1;}
.clear:after {content: ""; display: block; clear: both;}
/* margin */
.mr-5 { margin-right: 5px;}
.mr-10 { margin-right: 10px; }
.mr-15 { margin-right: 15px; }
.mr-20 { margin-right: 20px; }
.ml-5 { margin-left: 5px; }
.ml-10 { margin-left: 10px; }
.ml-15 { margin-left: 15px; }
.ml-20 { margin-left: 20px; }
.mt-5 { margin-top: 5px; }
.mt-10 { margin-top: 10px; }
.mt-15 { margin-top: 15px; }
.mt-20 { margin-top: 20px; }
.mb-5 { margin-bottom: 5px; }
.mb-10 { margin-bottom: 10px; }
.mb-15 { margin-bottom: 15px; }
.mb-20 { margin-bottom: 20px; }
/* padding */
.pr-5 { padding-right: 5px; }
.pr-10 { padding-right: 10px; }
.pr-15 { padding-right: 15px; }
.pr-20 { padding-right: 20px; }
.pl-5 { padding-left: 5px; }
.pl-10 { padding-left: 10px; }
.pl-15 { padding-left: 15px; }
.pl-20 { padding-left: 20px; }
.pl-30 { padding-left: 30px; }
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
.pt-15 { padding-top: 15px; }
.pt-20 { padding-top: 20px; }
.pb-5 { padding-bottom: 5px; }
.pb-10 { padding-bottom: 10px; }
.pb-15 { padding-bottom: 15px; }
.pb-20 { padding-bottom: 20px; }
/* table */
table img { vertical-align: middle; }
.tb-bold { font-weight: bold; }
.tb-left,
.tb-center,
.tb-right { padding: 0 10px; }
.tb-btn { padding: 0; }
.tb-left { text-align: left; }
.tb-center { text-align: center; font-size:12px !important;}
.tb-right { text-align: right; }
.tb-label-r5 label { margin-right: 5px; }
.tb-label-r10 label { margin-right: 10px; }
.tb-label-r10 label.last,
.tb-label-r5 label.last{ margin-right: 0; }
/* table-type-1 */
.table-type-1 { border-top: 1px solid #ddd;  }
.table-type-1 th,
.table-type-1 td { padding: 8px 0 8px; background: url(/images/d3/modern_simple/common/dot_h1_w10.gif) repeat-x 0 bottom; }
.table-type-1 tr.nbg th,
.table-type-1 tr.nbg td { background-image: none; }
.table-type-1 tr.bg th,
.table-type-1 tr.bg td { background-color: #f8f8f8; }
.table-type-1 th { font-weight: normal; }
/* table-type-2 */
.table-type-2 { border-top: 1px solid #ddd; }
.table-type-2 th,
.table-type-2 td { padding: 8px 0 8px; background: url(/images/d3/modern_simple/common/dot_h1_w10.gif) repeat-x 0 bottom; }
.table-type-2 th { font-weight: normal; }
.table-type-2 tr.nbg th,
.table-type-2 tr.nbg td { background-image: none; }
/* »óÇ°¸®½ºÆ® (¸ÞÀÎ/°Ë»ö/»óÇ°¸®½ºÆ®) */
.prd-list { margin-top: 10px; }
.prd-list table td { border: 0; vertical-align: top; }
.prd-list table .tb-center { padding: 0 10px; }
.prd-list table .info { padding: 5px 0; }
.prd-list .thumb { width: 226px; height:336px; margin-left: auto; margin-right: auto; font-size:0; line-height: 0; border: 2px solid #e4e4e4; }
.prd-list .thumb a,
.prd-list .thumb img { display: block; width: 226px; height: 165px; }
.prd-list .dsc { margin-top: 15px; font-weight: bold; }
.prd-list .price { margin-top: 5px; font-weight: bold; color: #333; }
/* Àå¹Ù±¸´Ï ¸®½ºÆ®, ÁÖ¹®»óÇ° ¸®½ºÆ® */
.table-cart { margin-top: 0px; margin-bottom :17px; border-bottom: 1px solid #000; }
.table-cart thead th { padding:5px 0; background:#fff; font-family: 'Open Sans', sans-serif; font-size:12px; color:#000; font-weight:bold; border-top:1px solid #000; border-bottom:1px solid #dedede; text-transform:uppercase; }

.table-cart tbody td,
.table-cart tfoot { border-top:1px solid #dedede; }
.table-cart tbody td { padding: 20px 0; }
.table-cart tbody td .thumb { width: 50px; height: 50px; margin-left: auto; margin-right: auto; font-siez: 0; line-height: 0; border: 0px solid #dedede; }
.table-cart tbody td .thumb a,
.table-cart tbody td .thumb img { display:block; width:50px; height:50px; }
.table-cart tbody td .thumb a { font-size: 0; line-height: 0; }
.table-cart tbody td .d-block { padding-bottom: 3px; }
.table-cart tbody tr.nbg td { background-image: none; }
.table-cart tfoot td { padding: 10px 0; font-weight: bold; }
.table-cart tfoot strong { color: #666; }
/* ¼ö·® ÄÁÆ®·Ñ */
.table-cart .opt-spin { position: relative; width: 36px; height: 20px; margin-left: auto; margin-right: auto; padding-bottom: 3px; }
.table-cart .opt-spin .txt-spin,
.table-cart .opt-spin .btns { float: left; }
.table-cart .opt-spin .txt-spin { width: 22px; height: 18px; padding-right: 2px padding-top: 2px; border: 1px solid #acacac; font-size: 11px; text-align: right; }
.table-cart .opt-spin .btns { width: 12px; height: 20px; margin-top: 3px; }
.table-cart .opt-spin .btns img { overflow: hidden; float: left; text-indent: -999px; background: none; }
/* ÁÖ¹® - ÁÖ¹®Á¤º¸ Å×ÀÌºí */
.table-order-info { margin-top: 10px; border-top:1px solid #000; }
.table-order-info tbody th,
.table-order-info tbody td { padding: 10px 0; border-bottom:1px solid #dedede; }
.table-order-info tbody th { letter-spacing: -1px; /*background-color: #ededed;*/ background-color: #fff; }
.table-order-info tbody th .d-block { font-weight: normal; letter-spacing: 0; }
.table-order-info tbody tr.nbg th,
.table-order-info tbody tr.nbg td { background-image: none; }
/* ¸¶ÀÌÆäÀÌÁö µðÀÚÀÎ Å¸ÀÔ2 Å×ÀÌºí ¸®½ºÆ®, Å¸ÀÌÆ² */
.tit-tb-list { margin-top: 60px; font-size: 12px; color: #5f5f5f; padding-left: 10px; background: url(/images/d3/modern_simple/common/bull_h3_sqr_gray.gif) no-repeat 0 45%; }
.table-d2-list { border-top:1px solid #000; border-bottom: 1px solid #000; }
.table-d2-list thead th { padding: 5px 0; line-ehgith:20px; background-color: #fff; border-bottom:0px solid #dedede; color:#000; }
.table-d2-list tbody td { padding: 15px 0; line-ehgith:20px; border-top: 1px solid #dedede; }
/* ¸¶ÀÌÆäÀÌÁö µðÀÚÀÎ Å¸ÀÔ2 Å×ÀÌºí ºä */
.table-d2-view { margin-top: 20px; border-top: 1px solid #000; border-bottom: 1px solid #000; }
.table-d2-view th, 
.table-d2-view td { padding: 10px 0; border-bottom: 0px solid #dedede; }
.table-d2-view th { font-weight: bold; background-color: #fff; }
/* paging */
.paging { clear:both; padding-top: 30px; text-align: center; vertical-align: top; }
.paging li { display: inline; padding:0 10px;}
.paging li a { overflow: hidden; width: auto; height: 15px; color: #999; cursor: pointer; }
.paging li strong {padding: 0 10px;}
.paging li a:hover,
.paging li.now a {  }
.paging li.first a,
.paging li.prev a,
.paging li.next a,
.paging li.last a { padding: 0 3px; }
.paging li.prev { margin-right: 10px; }
.paging li.next { margin-left: 10px; }
/* ÇöÀçÀ§Ä¡ */
.loc-navi { text-align: right; }
.loc-navi,
.loc-navi a { color: #999; text-transform: capitalize; }
/* ÆäÀÌÁö Å¸ÀÌÆ² */
/* Å¸ÀÔ 1*/
#content .tit-page { position: relative; margin-top: 20px; font-size: 0; line-height:0; padding-bottom: 12px; border-bottom: 1px solid #d0d0d0; }
#content .tit-page .dsc { position: absolute; right: 0px; top: 15px; font-size: 11px; color: #a5a5a5; letter-spacing: -1px; }
#content .tit-page .dsc em { color:#333; }
/* Å¸ÀÔ 2 */
#content .tit-page-2 { position: relative; margin-top: 15px; padding-bottom: 6px; border-bottom: 1px solid #d0d0d0; }
#content .tit-page-2 .dsc { letter-spacing: -1px; display: inline-block; padding-top: 2px; margin-left: 30px; color: #9b9b9b; }
/* »óÇ° total/Á¤·Ä */
.total-sort { zoom: 1; overflow: hidden; padding-bottom: 5px; border-bottom: 1px solid #e5e5e5; }
/* total */
.total-sort .total { float: left; width: auto; }
.total-sort .total dt,
.total-sort .total dd { display: inline; }
.total-sort .total dd { font-weight: bold; }
.total-sort .total dt { text-transform: capitalize; }
/* sort */
.total-sort .sort { float: right; width: auto; display: inline; margin-right: 20px; }
.total-sort .sort li,
.total-sort .sort li a { float: left; width: auto; }
.total-sort .sort li { display: inline; margin-left: 10px; }
/* °Ô½ÃÆÇ ÃÑ°Ô½Ã±Û,PAGE */
.total-page { zoom: 1; overflow: hidden; }
.total-page .total { float: left; width: auto; line-height:16px; }
.total-page .page { float: right; width: auto;}
/* È¸¿ø µî±Þ Ç¥½Ã */
/* Å¸ÀÔ 1 */
.mem-lvl { zoom: 1; overflow: hidden; padding: 15px 50px 15px 180px; /*background-color: #ededed;*/ border:2px solid #e4e4e4; }
.mem-lvl .lvl-img,
.mem-lvl p { position: relative; float: left; }
.mem-lvl .lvl-img { left: -120px; margin-right: -120px; width: 120px; }
.mem-lvl p { width: 100%; padding-top: 10px; line-height: 16px; }
.mem-lvl p em { color: #00a2ff; font-weight: bold; }
.mem-lvl span.MS_group_reserve_msg,
.mem-lvl span.MS_group_dc_msg {
    color:#00a2ff;
}
/* Å¸ÀÔ 2 */
.mem-lvl-2 { zoom: 1; overflow: hidden; padding: 15px 50px 15px 150px; border: 5px solid #ededed; }
.mem-lvl-2 .lvl-img,
.mem-lvl-2 p { position: relative; float: left; }
.mem-lvl-2 .lvl-img { left: -130px; margin-right: -130px; width: 120px; border-right: 1px solid #ededed; }
.mem-lvl-2 p { width: 100%; padding-top: 10px; line-height: 16px; }
.mem-lvl-2 p em { color: #be101a; font-weight: bold; }
.mem-lvl-2 span.MS_group_reserve_msg,
.mem-lvl-2 span.MS_group_dc_msg {
    color:#F26622;
}

/* ¸¶ÀÌÆäÀÌÁö »ó´Ü ¸Þ½ÃÁö ¹Ú½º */
.t-box-msg { /*padding: 10px 20px; border: 5px solid #ededed;*/ padding:0px; }
.t-box-msg strong { color:#000; }

/*
========================================================================
°øÅë - ·¹ÀÌ¾î
========================================================================
*/
/*
========================================================================
°øÅë - ·¹¾Æ¿ô
========================================================================
*/


/* z-index */
#layerWrap { z-index: 1; }
#wrap { width:100%; margin:90px auto 0; }




/* LAYOUT */


#headerin,
#layerWrap,
#contentWrap,
#ftLink .link { position: relative; width:100%; margin:0 auto; }
#contentWrapper { position: relative; }
#contentWrap:after { content: ""; display: block; clear: both;}
#contentWrap { width:1200px; margin:0 auto; zoom:1;position:relative; /*padding-top:60px;*/ padding-top:60px; }

#aside,
#content { position:relative;  }



/* »ó´Ü°íÁ¤ */
#header_top { margin-bottom:0px; z-index:11; position:fixed; left:0px; top:0px; width:100%; min-width:1200px; font-weight:bold; background:#fff; }

#header { margin:0 auto; width:1200px; /*width:1200px; width:100%; min-width:1500px; position:relative; background:rgba(255,255,255,1); */ height:90px; background:#fff; /*padding:0 30px; height:0px;*/ display:block;letter-spacing: 0.15em; }




#snbL { float:left; width:180px; margin:0 24px 0 0; }
#snbR {float:right; width:180px; }


#contents { width:1200px; float:left; min-height:500px; }
#contents2 { width:800px; float:right; }



/* ¸ÞÀÎ 100% */
#main_content { clear:both; position:relative; width:100%; margin:0 auto; zoom:1; }
#main_content:after {content:""; display:block; clear:both; }








/*
==================================================================

                          ¿øµðÀÚÀÎ ÀÛ¾÷¼Ò½º

                02)1599-3360  / Http://e-onedesign.com

==================================================================
*/

html { overflow:scroll; overflow-x: auto;}
a {outline:none; select-dummy: expression(this.hideFocus=true); }

body { margin: 0; padding : 0; color:#000; } 
img { border:0; } /*vertical-align:middle;*/
a:hover { text-decoration:none; }
* { margin: 0; padding: 0; }
* html { height: 1px; }

::selection {
color:white;
background-color:rgb(250, 98, 136);
}

nobr {display:none;}
.preview_label {display:none;}






/* HEADER */

#logo { display:block; padding:25px 0 8px; margin:0 auto; width:1200px; /*float:left; width:265px; height:15px; padding:38px 0; margin-left:16px; margin-right:60px; */ }
#logo img {  }
#logo a { font-family:verdana; text-transform: uppercase; font-size:16px; font-weight:bold; letter-spacing:0px }

#cateline { float:left; /* box-sizing:border-box; padding-left:30px; width:70%; background:rgba(255,255,255,1);   background:url(/design/zooyork77/img/bg_w70.png) repeat*/}
#logmenu { float:right; /* box-sizing:border-box; padding-right:30px; width:30%; height:91px; background:rgba(255,255,255,1);   background:url(/design/zooyork77/img/bg_w70.png) repeat*/}


/* »ó´Ü ÁÂÃø ¸Þ´º */
#cate { float:left; /*width:600px;*/ }
#cate li { float:left; }
#cate li,
#cate li a { display:block; height:40px; line-height:40px; color:#000; vertical-align:middle; text-align:left; font-family: 'Open Sans', sans-serif; font-size:12px; font-weight:bold; min-width:0; transition:all 0.3s ease;}
#cate li a:hover { color:#e1e1e1; text-decoration:none; }

/* »ó´Ü Ä«Å×°í¸®*/
#cate li { padding-right:29px; }
#cate li .catebox { position:absolute; z-index:99999999; top:90px; left:0px; width:100%; padding:30px 0 30px;  /*min-width:1200px;background-color:#000;*/ background-image:url(http://zooyork77.img7.kr/onedesign/images/topbg.png); background-repeat:repeat; background-position:0 0; }
#cate li .catebox { display:none; visibility:visible; /*opacity:0;*/ }
#cate li .catebox > div { /*padding-left:335px;float:left; */ width:1200px; margin:0 auto}
#cate li .catebox > div > div { width:25%; float:left; }
#cate li .catebox > div > div a { font-size: 10px; float:left; color:#fff; font-weight:normal; display:block; width:180px; height:15px; line-height:1.5; padding-right:30px; margin:5px 0; }
#cate li .catebox > div > div a:hover {display:inline; color:#999; }
#cate li .catebox > div > div a span { font-size:10px; color:#fff; padding-left:2px;}
#cate li .catebox > div > div h2 { color:#e1e1e1;padding-bottom:8px; }
#cate li .catebox > div > div h2 a { color:#e1e1e1; font-weight:bold; margin:3px 0 10px; }

#cate li .catebox .cateline { float:left; padding:10px 0; line-height:1px; height:1px; }
#cate li .catebox .cateimg { float:left; margin-left:20px; width:220px; }
#cate li .catebox .cateimg a { padding:0; margin:0; width:220px; height:auto; background:none; }
#cate li .catebox .cateimg img { display:block; width:220px; }
#cate li .catebox .cateimg span { clear:both; display:block; line-height:20px !important; padding-top:10px; }

/* »ó´Ü ¿ìÃø ¸Þ´º */
#logmenu ul { font-size:0; line-height:0; }
#logmenu li { float:left; display:inline-block; *display:inline; height:40px; font-family: 'Open Sans', sans-serif; font-size:12px; color:#a9a9a9;  }
#logmenu li a { display:block; font-family: 'Open Sans', sans-serif; font-size:12px; color:#000; text-decoration:none; line-height:40px; height:40px; vertical-align:middle; padding:0 10px; transition:all 0.3s ease;}
#logmenu li a:hover { color:#e1e1e1; }

/* »ó´Ü °Ë»ö */
#logmenu li div#sear { float:left; width:95px; height:17px; line-height:17px; padding:0; margin:0px; color:#000; vertical-align:middle; padding:12px 0 21px; }
#logmenu li div#sear fieldset { font-size:0; line-height:0; }
#logmenu li div#sear span input { float:left; vertical-align:middle; width:60px; color:#000;  padding:0px 5px 1px 5px; border:0; background:none; text-align:left; line-height:17px; font-family: 'Open Sans', 'Nanum Gothic', sans-serif; font-size:12px; }
#logmenu li div#sear a { float:left; line-height:17px; cursor:hand; cursor:pointer; width:17px; height:17px; padding:0; background:none; }
#logmenu li div#sear input { border:none; padding:0px; }




/*left*/

#left_menu { width:0px; float:right; display:none;  }




/*TITLE*/

/* ¸ÞÀÎ»óÇ° Å¸ÀÌÆ² */
.title_main h2 { clear:both; width:1200px; height:90px; margin:0 auto; border-top:1px solid #000; padding:10px 0; }

/* °Ô½ÃÆÇ Å¸ÀÌÆ² */
.title_board { min-height:20px; padding: 0px; border-bottom:0px solid #000; margin-bottom: 0px; text-align:center; }
.title_board h2 { display:inline-block; *display:inline; *zoom:1; font-family: 'Open Sans', 'Nanum Gothic', sans-serif; font-size:19px; color:#000; }
.title_board h2 font { color:#000 !important; }

/* »óÇ°¸ñ·Ï Å¸ÀÌÆ² */
.title_product { min-height:20px; padding:0px 0 10px; border-bottom:0px solid #333; text-align:center;}
.title_product h2 { display:inline-block; *display:inline; *zoom:1; font-family: 'Open Sans', 'Nanum Gothic', sans-serif; font-size:19px; color:#000; }

/* ±âÅ¸ ±âº» Å¸ÀÌÆ² */
.title_etc { min-height:20px; margin-top:25px; padding:0px 0 0px; border-bottom:0px solid #000; margin-bottom:0px; }
.title_etc h2 { display:inline-block; *display:inline; *zoom:1; font-family: 'Open Sans', 'Nanum Gothic', sans-serif; font-size:19px; color:#000; }







/* ·Ñ¿À¹ö½Ã ÇÑ±Û (»óÇ° »ó¼¼ÆäÀÌÁö ¹öÆ°) */
A.roll span { display:inline; } 
A.roll .over { font-family:'Nanum Gothic'; }

A.roll span.over { display:none; } 
A.roll:hover { border:0; }
A.roll:hover span { display:none; } 
A.roll:hover span.over { display:inline; } 





/* ¸¶ÀÌÆäÀÌÁö »ó´Ü¸Þ´º (°¡»óÅÂ±× °øÅë½ºÅ¸ÀÏ)*/
.mytitle2 { overflow:hidden; text-align:left; margin-top:10px; line-height:20px; text-transform:uppercase; margin-bottom:30px; border-bottom:0px solid #eee; }
.mytitle2 ul { display:inline; font-size:0; line-height:0; }
.mytitle2 li { display:inline-block; *display:inline; *zoom:1; padding:0; font-family:'verdana', 'arial', 'µ¸¿ò'; font-size:12px; line-height:24px; height:24px; vertical-align:top; }
.mytitle2 li a { display:inline-block; margin-right:10px; font-weight:normal; color:#000; line-height:24px; cursor:pointer; font-size:13px; font-weight:bold; }
.mytitle2 li a:hover { color:#000; text-decoration:none; line-height:24px; border-top:2px solid #000; }
.myover { line-height:24px !important; border-top:2px solid #000; }










h3#top_title { clear:both; width:100%; position:relative; height:16px; border-bottom:1px solid #000; text-transform:uppercase; margin-bottom:30px; }
h3#top_title span { position:absolute; top:8px; left:0px; display:block; height:16px; color:#000; font-size:15px; font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight:bold; background:#fff; padding-right:10px; }


/* °Ô½ÃÆÇ Å¸ÀÌÆ² */
.titleAreaBoard { margin-bottom:30px; *zoom:1; }
.titleAreaBoard:after { content:""; display:block; clear:both; }
.titleAreaBoard h2 { height:20px; zoom:1; text-align:center; width:100%; text-align:center; }
.titleAreaBoard h2 span { height:20px; color:#000; font-family: 'Open Sans', 'Nanum Gothic', sans-serif; text-transform:uppercase; font-weight:bold; font-size:16px; }
.titleAreaBoard p { padding:3px 0 0; clear:both; font-size:11px; line-height:16px; color:#000; }

/* »óÇ° ÃßÃµ Å¸ÀÌÆ² */
.titleArea1 { width:1200px; padding:0px; }
.titleArea1 h2 { float:left; color:#000; line-height:20px; padding:0px 0 30px; font-family: 'Open Sans', sans-serif; font-size:16px; text-transform:uppercase; text-align:left; font-weight:bold; }





/* »óÇ° ¹Ì¸®º¸±â ·¹ÀÌ¾î */
#detailpage { position: absolute; top: 100px; display: block; width: 640px; padding: 10px 10px 40px; border: 3px solid #93a4b3; background-color: #fff; }
#detailpage .loc { zoom: 1; overflow: hidden; }
#detailpage .loc span { float: right; width: auto; }
/*
#detailpage .loc span { float: right; width: auto; padding-left: 10px; background: url(/images/d3/modern_simple/common/bull_h5_arow_blue.gif) no-repeat 0 6px; }
*/
#detailpage .hd {
    margin-top: 10px; padding: 5px 10px 5px 30px; border: 1px solid #becbd7; background: #e0e6ec url(/images/d3/modern_simple/common/bull_h11_sqr_arow.gif) no-repeat 10px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#detailpage .hd h2 { font-weight: bold; font-size: 16px; color: #666; }
#detailpage .detail { zoom: 1; overflow: hidden; margin-top: 20px; padding-left: 300px; }
#detailpage .thumb-wrap,
#detailpage .txt-wrap { position: relative; float: left; }
#detailpage .close-layer { position: absolute; right: 0px; bottom: 0px; _bottom: -1px; }
/* thumb-wrap */
#detailpage .thumb-wrap { width: 300px; left: -300px; margin-right: -300px; text-align: center; }
#detailpage .thumb-wrap .btns { margin-top: 10px; font-size: 0; line-height: 0;}
#detailpage .thumb-wrap .btns a { margin-left: 5px; }
#detailpage .thumb-wrap .thumb img { width: 250px; }
/* txt-wrap */
#detailpage .txt-wrap { width: 100%; }
#detailpage .txt-wrap .ptit { font-weight: bold; font-size: 14px; color: #333; border-bottom:2px solid #ccc; }
#detailpage .txt-wrap .opt { margin-top: 5px; }
#detailpage .txt-wrap .opt li { padding: 3px 0; }
#detailpage .txt-wrap .opt li.s-price { color: #a00000; }
#detailpage .txt-wrap .f-btns { margin-top: 10px; padding-top: 10px; border-top: 1px solid #ccc; font-size: 0; line-height: 0; }
#detailpage .txt-wrap .f-btns a { margin-right: 5px; }
/* opt-spin */
#detailpage .opt-spin { display: inline-block; position: relative; width: 36px; height: 20px; }
#detailpage .opt-spin .txt-spin { width: 22px; height: 18px; padding-right: 2px padding-top: 2px; border: 1px solid #acacac; font-size: 11px; text-align: right; }
#detailpage .opt-spin .btns { position:absolute; left: 35px; top:0px; width: 12px; height: 20px; }
#detailpage .opt-spin .btns img { overflow: hidden; float: left; text-indent: -999px; background: none; }
#detailpage .thumb-wrap .btns { margin-top: 10px; font-size: 0; line-height: 0;}
#detailpage .thumb-wrap .btns a { margin-left: 5px; }

/* °Ô½ÃÆÇ °øÅë - ÀÏ¹Ý, °Ö·¯¸®, ÄÁÅÙÃ÷¸µÅ©, ÀÚ·á½Ç, ¹Ì´ÏÈ¨ÇÇ, ¹æ¸í·Ï, µ¿¿µ»ó */
#bbsData { width:1200px; margin:0 auto; margin-top:30px }
/* »ó´Ü */
.bbs-hd { padding: 0px 0 20px; background: url(/images/d3/modern_simple/common/dot_bbs_hd.gif) repeat-x 0 bottom; }
.bbs-hd .link { text-align: center; font-size: 0; line-height: 0; }
.bbs-hd .link li { display: inline; }
.bbs-hd .link li a { padding: 0 8px; color: #9c9c9c; letter-spacing: -0.5px; background: url(/images/d3/modern_simple/common/bull_bbs_hd_link.gif) no-repeat left 50%; }
.bbs-hd .link li.last a { background-image: none; }
/* Å¸ÀÌÆ² */
.bbs-tit { margin-bottom: 30px; margin-top: 20px; text-align: center; }
.bbs-tit .braket { padding: 0 15px; font-weight: bold; color: #cfcfcf; font-size: 14px; vertical-align: middle; }
.bbs-tit em { margin-left: 10px; font-size: 11px; color: #898989;}
/* °Ë»ö */
.bbs-sch { margin-top: 20px; margin-bottom : 10px; text-align:left; float:left; }
.bbs-sch label { margin-right: 10px; }
.bbs-sch .key-wrap { font-size: 0; line-height: 0; }
.bbs-sch .key-wrap,
.bbs-sch .keyword,
.bbs-sch img { vertical-align: middle; }
.bbs-sch .keyword { width: 125px; height: 14px; padding: 2px 0 0 2px; margin-right: 3px; line-height: 14px; border: 1px solid #ededed; }
/* °Ô½ÃÆÇ ±Û¾²±â, ¸ñ·Ï ÀÌµ¿ ¸µÅ© */
.bbs-link { font-size: 0; line-height: 0; }
.bbs-link a { display: inline-block; padding: 0 2px; font-size: 11px; line-height: 14px; color: #9b9b9b;  }
.bbs-link a.write {  }
/* °Ô½ÃÆÇ ±Û¾²±â, ¸ñ·Ï ÀÌµ¿ ¸µÅ© */
.bbs-link a.none { background: url('');}
.bbs-link span { font-size:11px; color:#555; line-height:14px;}
/* °Ô½ÃÆÇ ÇÑÁÙ°øÁö */
.bbs-online-notice { margin-top: 10px; margin-bottom: -10px; padding: 7px 10px; color: #9d9d9d; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; }
/* °Ô½ÃÆÇ Å¸ÀÔ - ¸®½ºÆ® */
.bbs-table-list { width:1200px; margin:0 auto; border-bottom:0px solid #000; }
.bbs-table-list thead th { padding:5px 0; background:#fff; font-family: 'Open Sans', sans-serif; font-size:12px; color:#000; font-weight:bold; border-top:1px solid #000; text-transform:uppercase; }
.bbs-table-list tbody td  { padding:15px 0; } 

.bbs-table-list tbody td { /*background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom;*/ border-top:1px solid #dedede; }
/* °Ô½ÃÆÇ Å¸ÀÔ - º¸±â */
.bbs-table-view { margin-top: 0px; }
.bbs-table-view thead th { padding: 5px 0; } 
.bbs-table-view tbody td { padding: 15px 0; } 
.bbs-table-view thead th { font-family: 'Open Sans', 'Nanum Gothic', sans-serif; font-size:12px; color:#000; font-weight:bold; border-top:0px solid #000; text-transform:uppercase; }
.bbs-table-view tbody td.line { /*background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom;*/ border-bottom:0px solid #ececec; }
.bbs-table-view .btn-dwn { margin-top:15px;}

/* ¹Ì´ÏÈ¨ÇÇ, ¹æ¸í·Ï °Ô½Ã±Û ºä */
/* »ó´Ü */
.visit-vhd { margin-top: 10px; border-top: 1px solid #e5e5e5; }
.visit-vhd th,
.visit-vhd td { padding: 3px 0; border-bottom: 1px solid #e5e5e5; font-family: Dotum; } 
.visit-vhd .tb-left{ padding: 0 3px; }
.visit-vhd td .tb-no { color: #9c9c9c; }
.visit-vhd td .tb-ctrl,
.visit-vhd td .tb-ctrl a { font-size: 11px; color: #9c9c9c; }
/* ³»¿ë*/
.visit-vcont { background: url('/images/d3/modern_simple/common/dot_bbs_list.gif') repeat-x 0 bottom; }
.visit-vcont th,
.visit-vcont td { padding: 6px 0; border-bottom: 1px solid #e5e5e5;} 
.visit-vcont th { font-weight: normal; font-family: Dotum; color: #9d9d9d; }
.visit-vcont tr.no-line th,
.visit-vcont tr.no-line td { padding-bottom: 0; border-bottom: 0; }
.visit-vcont tr.dot-line th,
.visit-vcont tr.dot-line td { padding-top: 2px; border-bottom: 1px dotted #e5e5e5; }
.visit-vcont tr.info td .tb-left { padding-left: 0; color: #555;}
.visit-vcont .tb-left{ padding: 0 3px; }
.visit-vcont td .tb-cont { padding: 5px 0; min-height: 250px; _height: 250px; }
.visit-vcont td .tb-cont img { max-width: 100%; }
/* ÄÚ¸àÆ® */
.visit-vcmt th,
.visit-vcmt td { padding: 6px 0; vertical-align: top; border-bottom: 1px solid #e5e5e5; }
.visit-vcmt th { color: #c5c5c5; }
.visit-vcmt .tb-tit { font-weight: bold; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y right 0; }
.visit-vcmt td .tb-txt { min-height: 30px; _height: 30px; padding-left: 10px; color: #555; }
.visit-vcmt td .date,
.visit-vcmt td .ctrl { display: block; font-size: 11px; }
.visit-vcmt td .date { color: #555; }
.visit-vcmt td .ctrl { margin-top: 5px; }
.visit-vcmt td .ctrl a { margin-left: 2px; margin-right: 2px; color: #999; font-size: 11px; }
/* ÀÛ¼º */
.vist-vcmt-reg { margin-top: 10px; border-bottom: 1px solid #e5e5e5; }
.vist-vcmt-reg th,
.vist-vcmt-reg td ,#comment_reply_input th { padding: 6px 0;}
.vist-vcmt-reg th ,#comment_reply_input th { font-weight: normal; color: #9d9d9d; font-family: Dotum; }
.vist-vcmt-reg .tb-left ,#comment_reply_input .tb-left{ padding: 0 3px; }
.vist-vcmt-reg th .tb-left { padding-left: 10px; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 45%; }

/* °Ô½ÃÆÇ Å¸ÀÔ - ¾²±â */
.bbs-table-write { margin-top:0px; border-top:1px solid #000; border-bottom:1px solid #000; }
.bbs-table-write tbody th,
.bbs-table-write tbody td  { padding:10px 0 8px; border-top:1px solid #dedede; color:#9d9d9d; font-weight:normal; font-size:12px; } 

/* °Ô½ÃÆÇ Å¸ÀÔ - ºñ¹Ð¹øÈ£Ã£±â */
.bbs-table-pwd { margin-top:25px;}
.bbs-table-pwd table { width:260px; margin-left:auto; margin-right:auto;}
.bbs-table-pwd tbody th,
.bbs-table-pwd tbody td  { padding:6px 0;  border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; color:#9d9d9d; font-weight:normal; font-size:12px;} 
/* °øÅëÀ¸·Î ¾²´Â°Å */
textarea { width:600px; height:47px; padding:2px; border:1px solid #dedede;}        
.input-style { padding:2px; height:14px; line-height:14px; border:1px solid #dedede;}

.cont-sub-des { position:relative;}
.cont-sub-des span { margin-right:15px; color:#555;}
.cont-sub-des span em { font-family: 'Open Sans', sans-serif; font-size:11px; color:#666; }
.cont-sub-des .hit { position:absolute; top:15px; right:0;}
.cont-sub-des .hit span { margin-right:0;}

.comment-box { border-bottom:1px solid #000;}
.bbs-table-view .comment-box td { padding-bottom:20px; border-top:1px solid #e5e5e5; vertical-align:top;}
.comment-box .com-name { margin-right:8px; padding:0 8px; background: url('/images/d3/modern_simple/common/bull_bbs_hd_link.gif') repeat-y 100% 0; font-weight:bold; color:#c5c5c5;}
.bbs-table-view td.com-wrt-box { border:0;}
.com-wrt-box label { padding-left:7px; background: url('/images/d3/modern_simple/common/bull_join_required.gif') no-repeat 0 50%; font-famiy: 'Open Sans', sans-serif; font-size:11px; color:#666;}
.com-wrt-box .input-style { margin:0 10px 0 7px; padding:2px; height:14px; line-height:14px; border:1px solid #EDEDED;}
.com-wrt-box .wrt { margin-top:7px;}

.view-link { padding:20px 0 60px;}

/* °Ô½ÃÆÇ È¸¿ø °Ô½Ã±Û °Ë»ö */
.search_id { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DADADA; display: block; padding: 3px; position: absolute; width: 90px; }

/* °³ÀÎÁ¤º¸º¸È£Á¤Ã¥ µ¿ÀÇ */
.new-privercy-contract { text-align: left; padding: 5px; }
.new-privercy-contract p { font-weight: bold; margin: 0; margin-bottom: 10px; margin-top: 20px; text-align: left; }
.privercy-contract-tap { position: relative; height:40px; }
.privercy-contract-tap ul { list-style: none; margin: 0; padding: 0; position: absolute; bottom: -1px; *bottom: -2px; }
.privercy-contract-tap li { border: 1px solid #e9e9e9; border-right: none; background: #000; float:left; display: inline-block; }
.privercy-contract-tap li a { display: block; padding: 10px 10px; text-decoration: none; color:#fff; }
.privercy-contract-tap li.end { border-right: 1px solid #e9e9e9; }
.privercy-contract-tap li.sel { background: #FFFFFF; border-bottom: 1px solid #FFFFFF; }
.privercy-contract-tap li.sel a { color:#000; }
.privercy-contract { clear: both; }
.privercy-contract textarea { clear: both; border: 1px solid #CCC; height: 60px; background: #FFFFFF; padding: 10px; width: 660px; color:#888; font-size:11px; }
.privercy-agree { margin: 10px 0; }
.privercy-agree label{ margin-right: 10px; }

/*
========================================================================
casual style layout
========================================================================
*/
#contentWrap { clear:both; width: 1200px; margin:0 auto; }
/*
========================================================================
casual style common class
========================================================================
*/
/* .item-wrap */
.item-wrap .item-hd { width: 1200px; padding: 25px 0; text-align: center; background:none;  }
.item-wrap .item-info { zoom: 1; overflow: hidden; padding: 35px 0 10px 0;  }
.item-wrap .item-info .item-total { float: left; font-size:12px; }
.item-wrap .item-info .item-order { float: right; }
.item-wrap .item-info .item-order li { float: left; padding: 0 5px; }
.item-wrap .item-info .item-order li a { font-size: 12px; }
.item-wrap .item-cont { zoom: 1; overflow: hidden; }
.item-wrap .item-cont:after { content: ""; display: block; clear: both; }








/* ½æ³×ÀÏ ÀÌ¹ÌÁö */



.item-wrap  {width:100%;  }

.item-wrap .item-list {margin: 0px 0 0px -53px; width:1253px; }

.item-wrap .item-list ul { float:left; width:260px; margin: 0 0 50px 53px; min-height:420px; }
.item-wrap .item-list li { width:260px; float:left; text-align:left;font-size:11px; color:#000; word-break:break-all }

/* »óÇ°ÀÌ¹ÌÁö */
.item-wrap .item-list ul li .prd-thumb img { max-width:260px; min-height:260px; max-height:320px; text-align:center; margin-bottom:0px; vertical-align:top; }
/* ºê·£µå¸í */
.item-wrap .item-list .prd-brand { text-align:left; font-size:12px; color:#000; border-bottom:0px solid #dedede; line-height:17px; height:17px;display:inline-block; width:164px; padding:0 48px; overflow:hidden; }
/* »óÇ°¸í */
.item-wrap .item-list .prd-name { text-align:left; font-size:12px; color:#000; border-bottom:0px solid #dedede; line-height:17px; height:17px; display:inline-block; width:164px; padding-left:48px; overflow:hidden; }
.item-wrap .item-list .prd-name2 {text-align:left; font-size:12px; color:#006abb; border-bottom:0px solid #dedede; line-height:17px; height:17px; display:inline-block; width:164px; padding-left:48px; overflow:hidden; }

/* »óÇ°¾ÆÀÌÄÜ */
.item-wrap .item-list .prd-icon { text-align:left; width:164px; padding:2px 48px 7px; }
.item-wrap .item-list .prd-icon img { margin-right:1px }
/* Ãß°¡»óÇ°¸í */
.item-wrap .item-list .prd-subname { text-align:center; color:#006abb; line-height:15px; padding-top:12px; }
/* »óÇ°°¡°Ý */
.item-wrap .item-list .prd-price { text-align:left; color:#000; font-weight:none; line-height:15px; font-size:12px; width:164px; padding:17px 48px 0; }
/* ¼ÒºñÀÚ°¡°Ý */
.item-wrap .item-list .prd-consumer { text-align:left; color:#f00; text-decoration:line-through; line-height:15px; font-size:12px; width:164px; padding:3px 48px 0; }


.item-wrap .item-page { margin-top: 40px; text-align: center; }
.item-wrap .item-page a { padding: 0 5px; }
.item-wrap .item-page a:hover,
.item-wrap .item-page a.now { font-weight: bold; letter-spacing: -1px; }
.item-wrap .item-desc { margin-bottom: 40px; }
.item-wrap .item-none { padding-top: 40px; text-align: center; }


















/* .navi */
.navi p { padding: 0 0 10px 30px; border-bottom: 1px solid #eee; font-size: 11px; }
.navi p a { font-size: 11px; }
.page-hd { padding: 15px 0 15px 30px; }



/* .cate-wrap */

.cate-wrap { clear:both; width:100%; border-top:0px; margin-bottom:30px; padding:0px; text-align:center; }

.cate-wrap .bcate { font-family: 'Open Sans', sans-serif; font-size:11px; color:#000; text-transform:uppercase; padding-bottom:5px; line-height:14px; }
.cate-wrap .bcate { display:inline-block; }

/* ÁßºÐ·ù */
.cate-wrap .mcate { display:inline; font-size:0; line-height:0; font-size:11px!important;}
.cate-wrap .mcate > li { flost:left; display:inline-block; *display:inline; *zoom:1; padding:0;line-height:40px; height:40px; vertical-align:top; white-space:nowrap; }
.cate-wrap .mcate > li > a { display:inline-block; margin-right:10px; font-weight:normal; color:#000; line-height:40px; cursor:pointer;}
.cate-wrap .mcate > li > a:hover { color:#000; text-decoration:none; line-height:40px; border-top:2px solid #000; }



/* .list-hd */
.item-wrap .list-hd { zoom: 1; overflow: hidden; padding: 25px; background: url(/images/d3/casual_style/common/bg_w10_h8_line.gif) repeat-x 0 85%; }
.item-wrap .list-hd .title { float: left; }
.item-wrap .list-hd .navi { float: right; font-size: 11px; }
.item-wrap .list-hd .navi a { font-size: 11px; }










