/* BASIC css start */
#myHistory .page-body { padding: 0px 0px; }
#myHistory .total-page { margin-top: 25px; }
#myHistory .table-d2-list { margin-top: 5px; }
#myHistory .tb-btns a { display: block; margin-bottom: 3px; }

/* BASIC css end */

