/* BASIC css start */

#board1v1 .total-page { margin-top: 25px; }
#board1v1 .table-d2-list { margin-top: 5px; }
#board1v1 .btn-foot { margin-top: 25px; font-size: 0; line-height: 0; text-align: center; }
#board1v1 .btn-foot a { margin-left: 5px; }

/* BASIC css end */

