/* BASIC css start */
#myWish .page-body { padding: 0px 0px; }
#myWish .table-d2-list { margin-top: 25px; }
#myWish .table-d2-list table .txt-input2 { width: 25px; }
#myWish .tb-btns a { display: block; margin-bottom: 3px; }
#myWish .btn-foot { font-size: 0; line-height: 0; margin-top: 20px; }
#myWish .btn-foot a { margin-right: 5px; }
#myWish .wish-opt { color: #FFA500; }
/* BASIC css end */

