@charset "UTF-8";

/* BASIC css start */
#findIdPwd_result { height: 100%; }
#findIdPwd_result h3.cont-tit { margin-top: 30px; margin-bottom: 5px; padding-left: 15px; color: #575757; font-weight: bold; background: url("/images/d3/modern_simple/bull_tit_h11.gif") no-repeat 0 0; }
#findIdPwd_result h1.tit-findidpw { margin-bottom: 10px; padding-bottom: 6px; border-bottom: 4px solid #3a4452; font-size: 16px; font-weight: bold; }

#findIdPwd_result .btn-area { margin-top: 20px; text-align: center; }
#findIdPwd_result .btn-area a { font-size: 0; }

#find_Success { padding: 45px 0; border: 3px solid #d4d4d4; text-align: center; background-color: #fdfdfd; }
#findIdPwd_result .sub-tit { margin-bottom:40px; }
#find_Success dt { margin-bottom: 25px; font-size: 14px; text-decoration: underline; font-weight: bold; }
#find_Success dd { font-size: 14px;   }

#find_Fail { padding: 48px 0; border: 3px solid #d4d4d4; text-align: center; font-size: 14px; background-color: #fdfdfd; }
/* BASIC css end */
