@charset "UTF-8";

/* BASIC css start */
.tb-l { text-align: left; }
.tb-c { text-align: center; }
#findIdPwd { height: 100%; }
#findIdPwd .info { text-align:center; padding:20px 0; }
#findIdPwd h3.cont-tit { margin-top: 30px; margin-bottom: 5px; padding-left: 15px; color: #575757; font-weight: bold; background: url("/images/d3/modern_simple/bull_tit_h11.gif") no-repeat 0 0; }
#findIdPwd h1.tit-findidpw { margin-bottom: 10px; padding-bottom: 6px; border-bottom: 4px solid #3a4452; font-size: 16px; font-weight: bold; }

#findIdPwd .find-info table { width:350px; margin:0 auto; }
#findIdPwd .find-info table th { width:70px; text-align:left; font-weight:normal; }
#findIdPwd .find-info table td { width:170px; }
#findIdPwd .find-info table td div { padding-left: 6px; }
#findIdPwd tr.user-name th, #findIdPwd tr.user-name td { }

#findIdPwd input.input-txt,
#findIdPwd .find-info table select.sec-email { width: 180px; height: 17px; border: 1px solid #e3e3eb; }

#findIdPwd .btn-area { margin-top: 20px; text-align: center; }
#findIdPwd .btn-area a { font-size: 0; }
#findIdPwd .ipin-confirm { margin-top:60px; padding: 45px 0; border: 2px solid #e6e6e6; text-align: center; background-color: #fff; }
#findIdPwd .ipin-confirm dt { margin-bottom: 25px; font-size: 14px; }
#findIdPwd .ipin-confirm a.ipin-svc { font-size: 14px; font-weight: bold; color: #ff3333; text-decoration: underline; margin:0 10px; }

.MS_input_txt { width:232px; height:20px; margin-right:5px; padding: 4px; line-height: 20px; border:0px; background:#fff; border:1px solid #d9d9d9; vertical-align:middle; }
/* BASIC css end */

